/*Bg*/

.page {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

/*Header*/

/*Contact*/

.page__header {
    height: 20vh;
    height: 20dvh;
}

.contact-container {
    background-color: var(--rich--black, #001A23);
    padding: .5em 0;
}

.contact-container * {
    margin: 0;
    padding: .25em;
}

.contact-container__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .85em;
    max-width: var(--main-width);
    margin: 0 auto;
}

.contacts, .socials {
    margin: 0;
    padding: 0;
    text-align: center;
}

.contacts li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
}

.contacts a, .socials a {
    color: var(--white, #ffffff);
    text-decoration: none;
    padding: .25em;
    transition: .25s ease-in-out;
}

.socials li {
    display: inline-block;
    margin-top: .5em;
}

@media screen and (min-width: 1024px) {
    .contact-container__wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .socials li {
        margin-top: 0;
    }
}

/*Hover*/

.contact-container li a:hover {
    color: var(--yellow, #AF9065);
}

/*Navbar*/

.navbar {
    
}

.navbar__logo {
    display: inline-block;
}

.navbar__logo__img {
    width: 180px;
}

/*Hamburger - menu*/

.navbar__hamburger-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
    background-color: var(--white, #ffffff); /*bg bude tmavší*/
}

/*Desktop - menu*/

.navbar__desktop-menu {
    display: none;
}

/*Main - index.html*/

.page__content {
    flex-grow: 1;
}

/*Section - page__welcome*/

.page__welcome {
    height: 75dvh;
    margin-top: 100em; /*!!!*/
}