/*bg*/

.page {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

/*page__header*/

.page__header {
    /*effect jako mercuria jina barva header u scroll / pruhledne a pak zase normalni kdž je v normalu*/
}

/*contact-container*/

.contact-container {
    display: none;
    --padding: .25em;
    background-color: var(--accent, #001A23);
    padding: .5em 0;
}

@media screen and (min-width: 761px) {
    .contact-container {
        display: block;
    }
}

.contact-container * {
    padding: var(--padding);
}

.contact-container__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .85em;
    max-width: var(--main-width);
    margin: 0 auto;
}

.contact-container__contacts-list, .contact-container__socials-list {
    margin: 0;
    padding: 0;
    text-align: center;
}

.contact-container__contacts-list li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
}

.contact-container__contacts-list a, .contact-container__socials-list a {
    color: var(--background-primary, #ffffff);
    text-decoration: none;
    padding: var(--padding);
    transition: .25s ease-in-out;
}

.contact-container__socials-list li {
    display: inline-block;
    margin-top: .5em;
}

@media screen and (min-width: 961px) {
    .contact-container__wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .contact-container__socials-list li {
        margin-top: 0;
    }
}

/*hover*/

.contact-container a:hover {
    color: var(--green, #A3B18A);
}

/*navbar*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--main-width);
    margin: 0 auto;
}

.navbar__logo {
    display: inline-block;
    margin-left: -1.25em;
    
}

.navbar__logo__img {
    width: 180px;
}

/*hamburger - menu*/

.navbar__hamburger-menu {
    position: fixed;
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
    background-color: var(--background-primary, #ffffff); /*bg bude tmavší*/
    z-index: 2;
    padding-top: .5em;
    padding-bottom: .5em;
}

.navbar__hamburger-menu__items {
    list-style: none;
    padding: 0;
}

.navbar__hamburger-menu__logo {
    margin-top: 1.5em;
    margin-left: -2em;
}

.navbar__hamburger {
    margin-right: 1.25em;
}

.navbar__hamburger-menu li {
    padding: 1em 0;
}

.navbar__hamburger-menu a {
    padding: 1em 0;
    padding-right: 1em;
}

.navbar__hamburger-menu li:first-child {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar__hamburger-menu a {
    color: var(--accent, #001A23);
    text-decoration: none;
    font-weight: 700;
}

.navbar__hamburger-menu__contacts-list {
    padding: 0;
    margin-bottom: 2em;
}

.navbar__hamburger-menu__contacts-list h2 {
    color: var(--gray, #A8A29E);
}

.navbar__hamburger-menu__contacts-list li {
    list-style: none;
}

.navbar__hamburger-menu__location-hide {
    position: absolute;
    left: -1000%;
}

.navbar__hamburger-menu__email-hide {
    display: none;
}

.navbar__hamburger-menu__contacts-list li span {
    display: block;
}

.navbar__hamburger-menu__icon {
    display: inline-block;
}

@media screen and (min-width: 541px) {
    .navbar__hamburger-menu__email-hide {
        display: block;
    }

    .navbar__hamburger-menu__email-shorter-hide {
        display: none;
    }
}

/*desktop - menu*/

.navbar__desktop-menu {
    display: none;
}

@media screen and (min-width: 761px) {
    .navbar__desktop-menu {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 1em;
    }

    .navbar__desktop-menu li {
        padding: .5em 1em;
    }

    .navbar__desktop-menu li:last-child {
        padding-left: 1em;
        padding-right: .5em;
    }

    .navbar__desktop-menu a {
        position: relative;
        color: var(--accent, #001A23);
        text-decoration: none;
        font-weight: 700;
        transition: .25s ease-in-out;;
    }

    .navbar__desktop-menu a:hover {
        color: var(--dominant, #512100);
    }

    .underline-effect::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: var(--dominant, #512100);
        transform: scaleX(0);
        transition: transform 0.25s ease-in-out;
    }

    .underline-effect:hover::after {
        transform: scaleX(1);
    }
}

/*main - index.html*/

.page__content {
    flex-grow: 1;
    margin: 0;
}

/*section - page__welcome*/

.welcome-content__header {
    position: relative; /*for - gradient*/
    height: 30vh;
    height: 30dvh;
    background-position: center;
    background-size: cover;
    background-image: url(https://www.ceskehory.cz/profil/users/foto/45889.jpg); /*warm - background image*/
    /* background-image: -webkit-image-set(
        url(../images/back/main-house.avif) type("image/avif"),
        url(../images/back/main-house.webp) type("image/webp"),
        url(../images/original/main-house.jpeg) type("image/jpeg")
    );
    background-image: image-set(
        url(../images/back/main-house.avif) type("image/avif"),
        url(../images/back/main-house.webp) type("image/webp"),
        url(../images/original/main-house.jpeg) type("image/jpeg")
    ); */
}

/*welcome-content__header*/

.welcome-content__header::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

@media screen and (min-width: 761px) {
    .welcome-content {
        position: relative; /*for - welcome-content__container*/
    }
    
    .welcome-content__header {
        height: 70vh;
        height: 70dvh;
        background-attachment: fixed;
    }
}

/*welcome-content__card*/

@media screen and (min-width: 761px) {
    .welcome-content__container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: end;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: var(--main-width);
        margin: 0 auto;
        padding: .5em;
    }
}

.welcome-content__card {
    background-color: transparent;
    text-align: center;
    margin-top: 1em;
}

.welcome-content__card__header {
    margin-bottom: .25em;
}

.welcome-content__card__header h1 {
    --font-size: 1em;
    font-size: var(--font-size);
    font-weight: 700;
    margin: 0;
}

.welcome-content__card__title-span {
    display: block;
    text-decoration: underline;
    text-underline-position: under;
    line-height: 1.55;
}

.welcome-content__card__dash {
    display: none;
}

.welcome-content__card__content {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1em;
}

.welcome-content__card__content p  {
    --font-size: 1.5em;
    font-size: var(--font-size);
    font-family: 'Cardo', serif; 
    font-weight: 700;
    max-width: 30ch;
    line-height: 1.25;
    margin: 0;
}

.welcome-content__card__footer :first-child {
    --margin: .5em;
    margin-right: var(--margin);
    margin-bottom: var(--margin);
}

@media screen and (min-width: 761px) {
    .welcome-content__card {
        margin-bottom: 12%;
        width: fit-content;
        background-color: var(--semi-transparent-dark, rgba(0, 0, 0, 0.5));
        padding: 1.5em;
        border-radius: .25em;
        color: var(--background-primary, #ffffff);
        text-align: left;
    }

    .welcome-content__card__header {
        margin-bottom: .5em;
    }

    .welcome-content__card__title-span, .welcome-content__card__dash {
        display: inline;
    }

    .welcome-content__card__content {
        width: fit-content;
        margin-bottom: 2em;
    }

    .welcome-content__card__content p  {
        --font-size: 2.5em;
        max-width: 35ch;
    }
}

/*welcome-footer*/

.welcome-footer {
    --margin: .5em;
    position: relative;
    margin-top: var(--margin);
    max-width: var(--main-width);
    margin: var(--margin) var(--margin);
}

.welcome-footer__location-summary {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    gap: 1em;
    margin: 0 auto;
}

.welcome-footer__location-summary li {
    list-style: none;
    flex-basis: 90%;
    flex-grow: 1;
}

@media screen and (min-width: 761px) {
    .welcome-footer {
        margin: -5em var(--margin);
    }

    .welcome-footer__location-summary li {
        flex-basis: 40%;
    }
}

@media screen and (min-width: 961px) {
    .welcome-footer__location-summary li {
        flex-basis: 25%;
    }
}

@media screen and (min-width: 1537px) {
    .welcome-footer {
        margin: -5em auto;
    }
}

/*section - page__about*/