@layer reset, init, content, components, hamburger;
@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap) layer(reset);
@import url(https://fonts.googleapis.com/css2?family=Cardo&display=swap) layer(reset);
@import url(normalize.css) layer(reset);
@import url(layout.css) layer(content);
@import url(components.css) layer(components);
@import url(hamburger.css) layer(hamburger);

@layer reset {
    :root {
        --primary: #512100;
        --secondary: #A3B18A;
        --accent: #3B1900;
        --gray: #A09C9C;
        --background-primary: #ffffff;
        --background-secondary: #F8DFDF;
        --semi-transparent-dark: rgba(0, 0, 0, 0.5);
        --shadow: rgb(168, 168, 168);
        --max-width: 1536px;
    }

    html {
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        color: var(--accent, #3B1900);
        background-color: var(--background-primary, #ffffff);
        scroll-behavior: smooth;
        overscroll-behavior: none;
    }

    body {
        overscroll-behavior: none;
    }
}

@layer init {   

    /*presets*/

    /*img - responsive - Iframe*/

    .img-responsive {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }

    .iframe {
        display: block;
        height: 95%;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }

    /*width - fix*/

    .iframe--fix {
        max-width: 100%;
    }
}